name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Hey, there! :wave: We welcome all kinds of contributions, please feel free to ask questions or make suggesstions. Someone will attend to your issue soon. :relaxed:'
        pr-message: 'Hey, there! :wave: We welcome all kinds of contributions, please feel free to contribute and/ or ask questions. Someone will attend to your PR soon. :relaxed:'